@CHARSET "UTF-8";
#footer, #header {
    height : 80px;
    width: 830px;
    margin: 0 auto;
	color: white;
    background-color: gray;
    text-align: center;
    border: 1px dotted white;
    clear: both;
}

#logout {
	position: relative;
	left: 300px;
}